/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

body {
  background-color: black;
}
.barra {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.loggin-container {
  margin-top: 50px;
  width: 29%;
  padding-top: 40px;
  background-color: rgb(206, 206, 206);
  border-radius: 18px;
  height: 450px;
}

.loggin-container-x {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 35%;
  padding: 15px 10px 10px 10px;
  background-color: rgb(206, 206, 206);
  border-radius: 18px;
  height: 420px;
}

.title-loggin {
  width: 400px;
  margin-right: 40px;
}

.button-loggin {
  background-image: linear-gradient(
    to right,
    #3ab5b0 0%,
    #3d99be 31%,
    #56317a 100%
  );
  border: none;
}

.button-loggin:hover {
  background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
}

.title1 {
  color: white;
  text-decoration: none;
  font-size: 25px;
}

.input-b {
  width: 150px;
  margin: 1px 5px 2px 5px;
}

.input-loggin {
  width: 110%;
}

.x-int {
  display: block;
}
